style.
    .footer {
    position: fixed;
    padding: 8px 60px 0px 5px;
    bottom: 0;
    width: 97%;
    /* Height of the footer*/
    height: 80px;
    background: #dadaea;
    }
    .footer__nav {
    margin-right: 0px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    }   
    .logo-title {
        position: absolute;
        top: 38px;
        left: 45px;
        }
div.footer
    div.footer__logo
        img(src='img/loans.png' style="padding-left: 155px;" alt='Loans logo') 
        .logo-title Loan Application
    ul.footer__nav
        li:a(href='#') About us
        li:a(href='#' style="margin-left:20px") Careers
        li:a(href='#' style="margin-left:20px") Contact

    p.footer__copyright &copy; Navakethan's Loan Application.