extends baseTemplate
block content 
    // LOGIN FORM
    main.main
      .card-container
        .card
          .card__header
            .card__details
              h4.card__sub-heading Login
              p.ard__text Please enter the following details
              .card__data
              link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
              div
                if error && error.length > 0
                  .alert.alert-danger.alert-dismissible.fade-in(role="alert")
                    button.close(type="button" data-dismiss="alert" aria-label="Close")
                      span(aria-hidden="true") ×
                    p= error
                if success && success.length > 0
                  .alert.alert-success.alert-dismissible.fade-in(role="alert")
                    button.close(type="button" data-dismiss="alert" aria-label="Close")
                      span(aria-hidden="true") ×
                    p= success

                script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
                script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
              Sh
              form(method='post' style="width:275px !important")
                label(for='email' style="font-weight: inherit;") Email:
                input(type='text' id='email' name='email' style="margin-left: 35px;")
                label(for='password' style="font-weight: inherit;") Password:
                input(type='password' id='password' name='password' style="margin-top: 30px;margin-left: 7px;")
                button.btn.btn-primary.btn-sm(type='submit', formaction="/login",
                style="margin-top: 45px;font-size: 15px;background-color: #0d6efd;") Login  
